
@media screen and (min-width: 800px) {
    #blinds_rope {
        // display: none;
    }
    body {
        .content {
            .cards {
                &.closed {
                    transform: translateY(0);
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    body {
        .content {
            .cards {
                flex-direction: row;
                
                .card {
                    margin: 0 auto;
                    width: 80%;
                    height: 200px;
                    margin-bottom: 2.7rem;

                    .img {
                        width: 50%;
                        height: 170px;
                        left: 25%;
                    }
                    .desc {
                        background: transparent;
                    }
                    &:hover {
                        .img {  
                            width: 30%;
                            height: 100px;
                            left: 35%;
                        }
                        .desc {
                            h2 {
                                font-size: 20px;
                            }
                            transform: translateY(50%);
                            font-size: 13px;
                            color: #000;
                        }
                    }
                }
            }

            .links {
                .link {
                    font-size: 1.4rem;
                }
            }

            #modal {
                .content {
                    font-size: .8rem;
                }
                .btns {
                    button {
                        font-size: .8rem;
                        padding: .5rem;
                    }
                }
            }
        }
    }
}